div {
    background-color: rgb(255, 249, 206);
    padding: 1rem;
}

td {
    width: 4rem;
    height: 4rem;
    text-align: center;
    /* color: transparent; */
}

.fondo {
    border: 2.5px solid rgb(231, 156, 71);
    background-color: rgb(250, 233, 172);
}

.cabeza {
    border: 2.5px solid rgb(16, 109, 9);
    background-color: rgb(54, 163, 15);
}

.cuerpo {
    border: 2.5px solid rgb(45, 129, 39);
    background-color: rgb(143, 213, 117);
}

.comida {
    border: 2.5px solid rgb(147, 40, 22);
    background-color: rgb(194, 84, 51);
}

table {
    border-collapse: collapse;
}