.contenedor {
    background-color: rgb(255, 242, 192);
    padding: 10px;
    margin: 4px;
}

.carrera-checkbox {
    display: none;
}

.carrera-boton {
    padding: 0.5rem;
    background-color: rgb(205, 134, 12);
    border: 2px solid rgb(132, 82, 17);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.carrera-pista {
    margin-top: 1rem;
    background-color: rgb(255, 201, 130);
    border: 3px solid rgb(184, 113, 20);
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.carrera-marca {
    height: 13rem;
    width: 1rem;
    background-color: transparent;
    border-left: 3px dashed;
    border-color: rgb(255, 255, 255);
    position: fixed;
    left: 91.4rem;
    top: 12.25rem;
}

.carrera-corredor {
    font-size: 2rem;
    padding: 0.5rem;
    border-bottom: 2px dashed rgb(224, 111, 12);
    transition: padding-left 0.5s;
}

.carrera-checkbox:checked~.carrera-pista .carrera-corredor {
    padding-left: 90rem;
}