.contenedor {
    background-color: rgb(255, 242, 192);
    padding: 10px;
    margin: 4px;
}

.carrera-checkbox {
    display: none;
}

.carrera-boton {
    padding: 0.5rem;
    background-color: rgb(205, 134, 12);
    border: 2px solid rgb(132, 82, 17);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.carrera-pista {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(255, 201, 130);
    border: 3px solid rgb(184, 113, 20);
    border-radius: 8px;
}

.carrera-corredores {
    width: 95%;
}

.carrera-corredor {
    font-size: 2rem;
    padding: 0.5rem;
    transition: padding-left 0.5s;
}

.carrera-checkbox:checked~.carrera-pista .carrera-corredor {
    padding-left: 100%;
}

.carrera-marca {
    width: 5%;
    background-color: transparent;
    border-left: 3px dashed;
    border-color: rgb(255, 255, 255);
}